body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #012c5e;
    color: white;
    padding: 0px;
    margin-left: 160px;
}

.botones {
    align-items: center;
    width: 50%;
    height: 70px;
    display: flex;
    gap: 5px;

}

.logo {
    height: 60px; 
    margin-right: 20px; 
    align-items: end;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: -100px;
}

nav li {
    display: inline;
    margin-right: 100px;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    align-items: center;

}

.background-image {
    background-image: url('https://static.wixstatic.com/media/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg/v1/fill/w_640,h_486,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 20px;
    background-color: rgba(255, 255, 255, 100);
}

section {
    margin: 40px 0;
}

.lateral {

    width: 200px;
}

.nav_link {
    color: #F9F7C9;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav_link--inside:hover {
    background: #D5F0C1;
}

.list {
    position: fixed;
    width: 160px;
    height: 110vh;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #012c5e;
    z-index: 9999;
}

.list_item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click {
    cursor: pointer;
}

.list_boton {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow {
    transform: rotate(90deg);
}

.list_arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list_show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #fbfbfb;
    list-style: none;
    transition: height .4s;
    height: 0;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#inicio {
    background-color: #274d7e;
}


#cursos {
    background-color: #274d7e;
}

#contacto {
    background-color: #274d7e;
}

.todo {

    padding-left: 180px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.kinal1 {
    text-align: center;
    padding: 80PX;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color: #176B87;
    font-size: 20px;

}

.section {
    text-align: center;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.subTitulos {
    border: 2px solid #B4D4FF;
    border-radius: 10px;
    padding: auto;
    display: inline-block;
    background-color: #B4D4FF;

}

#noticias {
    text-align: center;
}

#noticias h1 {
    font-size: 3em;
    color: #D5F0C1;
}

#noticias hr {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #000000;
}

.partner-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.partner-images img {
    width: 300px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.partner-images img:hover {
    transform: scale(1.1); /* Cambia el valor para ajustar el nivel de escala al pasar el cursor */
}