* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #B19470;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

nav {
    background-color: #F8FAE5;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

.contenido {
    margin-bottom: 40px;
}

.proyecto img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #43766C;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

.redes {
    margin-top: 20px;
}

.email-button,
.instagram-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.email-button {
    background-color: #3498db;
}

.instagram-button {
    background-color: #e4405f;
}

.instagram-button i {
    margin-right: 5px;
}

.lateral {

    width: 200px;
}

.nav_link {
    color: #F9F7C9;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav_link--inside:hover {
    background: #D5F0C1;
}

.list {
    position: fixed;
    width: 150px;
    height: 110vh;
    margin-left: -660px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #638889;
    z-index: 9999;
}

.list_item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click {
    cursor: pointer;
}

.list_boton {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow {
    transform: rotate(90deg);
}

.list_arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list_show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #F9F7C9;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.todo{
    padding-left: 100px;
}